<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="FineUI" type="FineUI.ConfigSection, FineUI" requirePermission="false" />
    <section name="eas" type="EAS.ConfigHandler,EAS.MicroKernel"/>
  </configSections>


  <eas>
    <configurations>
      <item name="Key" value="Value" />
    </configurations>
    <objects>
      <!--数据库链接-->
      <object name="DbProvider" assembly="EAS.Data" type="EAS.Data.Access.SqlClientDbProvider" LifestyleType="Thread">
        <property name="ConnectionString" type="string" value="Data Source=.;Initial Catalog=eas_db;User ID=sa;Password=sa1q2w3e4r;Connect Timeout=30" />
      </object>
      <!--数据访问器-->
      <object name="DataAccessor" assembly="EAS.Data" type="EAS.Data.Access.DataAccessor" LifestyleType="Thread">
        <property name="DbProvider" type="object" value="DbProvider"/>
        <property name="Language" type="object" value="TSqlLanguage"/>
      </object>
      <!--ORM访问器-->
      <object name="OrmAccessor" assembly="EAS.Data" type="EAS.Data.ORM.OrmAccessor" LifestyleType="Thread">
        <property name="DataAccessor" type="object" value="DataAccessor"/>
        <property name="DataNotifier" type="object" value="DataNotifier"/>
      </object>
      <!--数据通知程序-->
      <object name="DataNotifier" assembly="EAS.Data" type="EAS.Data.ORM.SocketBusDataNotifier" LifestyleType="Singleton">
        <property name="MessageBus" type="object" value="MessageBus"/>
      </object>
      <!--消息总线-->
      <object name="MessageBus" assembly="EAS.MicroKernel" type="EAS.Sockets.Bus.SocketBus" LifestyleType="Singleton">
        <property name="Url" type="string" value="socket.tcp://127.0.0.1:6606/"/>
        <property name="ConnectionTimeout" type="int" value="3"/>
        <property name="CommandTimeout" type="int" value="15"/>
        <property name="AsyncSend" type="bool" value="true"/>
      </object>
      <!--查询语言-->
      <object name="TSqlLanguage" assembly="EAS.Data" type="EAS.Data.Linq.TSqlLanguage" LifestyleType="Thread"/>
      <!--直连服务桥-->
      <object name="ServiceBridger" assembly="EAS.MicroKernel" type="EAS.Services.DirectServiceBridger" LifestyleType="Singleton" >
        <property name="AutoLoad" type="bool" value="true"/>
      </object>-->
      <!--日志管理-->
      <object name="Logger" assembly="EAS.MicroKernel" type="EAS.Loggers.TextLogger" LifestyleType="Singleton" />
    </objects>
  </eas>

  <!--<eas>
    <configurations>
      <item name="Key" value="Value" />
    </configurations>
    <objects>
      -->
  <!--分布式通信组件。-->
  <!--
      <object name="ServiceBridger" assembly="EAS.Distributed" type="EAS.Distributed.SocketBridger" LifestyleType="Thread" >
        <property name="Url" type="string" value="socket.tcp://127.0.0.1:6696/" />
        <property name="EnableLogging" type="bool" value="false" />
        <property name="ConnectionTimeout" type="int" value="3"/>
        <property name="CommandTimeout" type="int" value="60"/>
      </object>
      <object name="DataAccessor" assembly="EAS.Distributed" type="EAS.Distributed.DataAccessor" LifestyleType="Thread" >
        <property name="ServiceBridger" type="object" value="ServiceBridger" />
      </object>
      <object name="OrmAccessor" assembly="EAS.Distributed" type="EAS.Distributed.OrmAccessor" LifestyleType="Thread" >
        <property name="ServiceBridger" type="object" value="ServiceBridger" />
        <property name="DataAccessor" type="object" value="DataAccessor" />
      </object>
      -->
  <!--消息总线-->
  <!--
      <object name="MessageBus" assembly="EAS.MicroKernel" type="EAS.Sockets.Bus.SocketBus" LifestyleType="Singleton">
        <property name="Url" type="string" value="socket.tcp://127.0.0.1:6696/"/>
        <property name="ConnectionTimeout" type="int" value="3"/>
        <property name="CommandTimeout" type="int" value="60"/>
        <property name="AsyncSend" type="bool" value="true"/>
      </object>
      -->
  <!--日志管理-->
  <!--
      <object name="Logger" assembly="EAS.MicroKernel" type="EAS.Loggers.TextLogger" LifestyleType="Singleton" />
      -->
  <!--资源-->
  <!--
      -->
  <!--<object name="EAS.Explorer.Resource" assembly="EAS.Explorer.Res" type="EAS.Explorer.Res.Resources" LifestyleType="Singleton" />-->
  <!--
      -->
  <!--缓存访问器、旧版兼容-->
  <!--
      <object name="CacheAccessor" assembly="EAS.Data" type="EAS.Data.ORM.CacheAccessor" LifestyleType="Singleton" />
    </objects>
    <services>
      <service name="EAS.RMI.Service" service-type="SocketService" url="socket.tcp://127.0.0.1:6696/eas/services/EAS.RMIService" />
      <service name="EAS.Storage.Service" service-type="SocketService" url="socket.tcp://127.0.0.1:6696/eas/services/EAS.StorageService" />
    </services>
  </eas>-->

  <!-- 可用的配置项（这里列的都是默认值）: 
      Language="zh_CN" 
      AjaxTimeout="120" 
      EnableAjax="true" 
      Theme="Neptune" 
      FormMessageTarget="Qtip" 
      FormOffsetRight="0" 
      FormLabelWidth="100" 
      FormLabelSeparator="：" 
      IconBasePath="~/res/icon" 
      EnableAjaxLoading="true" 
      AjaxLoadingType="default" 
      CustomTheme="" 
      CustomThemeBasePath="~/res/theme" 
  -->
  <FineUI DebugMode="true" />
  <appSettings />
  <connectionStrings />

  <system.web>
    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID">
      <controls>
        <add assembly="FineUI" namespace="FineUI" tagPrefix="f" />
      </controls>
    </pages>
    <httpModules>
      <add name="FineUIScriptModule" type="FineUI.ScriptModule, FineUI" />
      <add name="SecurityDemandModule" type="EAS.Explorer.Web.SecurityDemandModule, EAS.Explorer.Web"/>
    </httpModules>
    <httpHandlers>
      <add verb="GET" path="res.axd" type="FineUI.ResourceHandler, FineUI" validate="false" />
    </httpHandlers>
    <httpRuntime maxRequestLength="102400 " />
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.0" />

    <authentication mode="Forms">
      <forms loginUrl="~/Default.aspx" timeout="120" defaultUrl="~/Main.aspx" protection="All" path="/" />
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>

  </system.web>

  <location path="icon">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="res">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="extjs">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="captcha">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="ajax">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <!--
  <location path="res.axd">
    <system.web>
      <authorization>
        <allow users ="*" />
      </authorization>
    </system.web>
  </location>
  -->
  <!-- IIS7集成管道模式
  <system.webServer>
    <modules>
      <add name="FineUIScriptModule" type="FineUI.ScriptModule, FineUI"/>
    </modules>
    <handlers>
      <add name="FineUIResourceHandler" verb="GET" path="res.axd" type="FineUI.ResourceHandler, FineUI" validate="false"/>
    </handlers>
  </system.webServer>
  -->
</configuration>